apiVersion: v1
kind: Pod
metadata:
  name: thequoter-no-elb
  labels:
    app: thequoter
spec:
  containers:
  - name: agileqc
    image: pastjean/agileqc:v1
    imagePullPolicy: Always
    ports:
    - containerPort: 8080